@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}

@font-face {
  font-family: "FOT-RodinNTLG Pro";
  src: url('/fonts/FOT-RodinNTLGProDB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  cursor: url('/wii_assets/cursor.png'), auto !important;
}
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

html, body {
  margin: 0;
  padding: 0;
}